<footer>
  <div id="made-by">
    <h4>Made by Paul Fournier — Copyright 2022</h4>
  </div>
  <div id="social-media-icon">
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
