<header>
  <div class="navbar">
    <div class="logo">PauFou</div>
    <div class="items">
      <a href="#contact-me" class="contact item">Contact</a>
      <a href="#gallery" class="work item">Work</a>
      <a href="/" class="home item">Home</a>
    </div>
  </div>
</header>
