<header>
  <div class="navbar">
    <div class="logo">
      <%= link_to root_path do %>
        PauFou
      <% end %>
    </div>
    <div class="items">
      <%= link_to "Contact", root_path(:anchor => "contact-me"), class: "contact item"  %>
      <%= link_to "Work", root_path(:anchor => "gallery"), class: "work item" %>
      <%= link_to "Home", root_path, class: "home item" %>
    </div>
  </div>
</header>
