<div class="project-banner" style="background-image: url(https://images.unsplash.com/photo-1509157774525-cd6d6cbf00a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
</div>

<div class="container">
  <div class="link-to">
    <a href="#" class="link-project" style="margin-right:10px"><i class="fa-brands fa-github icon"></i>Voir le code</a>
    <a href="#" class="link-project" style="margin-left:10px"><i class="fa-brands fa-chrome icon"></i>Voir le projet</a>
  </div>
  <div class="product-infos">
    <div class="product-base">
      <h4>A propos</h4>
      <p>Créer un algorithme qui, en fonction des bouteilles que vous appréciez, sera capable de vous porposer un pannel de 5 spiritueux faits pour vous.</p>
    </div>

    <div class="project">
      <h4>Tech stack</h4>
      <div class="stack">
        <a href="#">Ruby on Rails</a><a href="#">JavaScript</a><a href="#">HTML</a><a href="#">CSS</a><a href="#">Bootstrap</a><a href="#">postgreSQL</a>
      </div>
    </div>
      <div class="project-image">
        <h4></h4>
        <div class="image-product" style="background-image: url(https://res.cloudinary.com/dm52xbw1e/image/upload/v1663148797/Capture_d_e%CC%81cran_2022-09-14_a%CC%80_11.45.52_dpns6j.png);">
      </div>
    </div>
    <div class="next-work">
      <%= link_to "Projet Suivant", caravana_path, class: "next-work-txt" %>
    </div>
  </div>
</div>
