<div class="project-banner" style="background-image: url(https://images.unsplash.com/photo-1509157774525-cd6d6cbf00a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
</div>

<div class="container">
  <div class="product-infos">
    <div class="product-base">
      <h4>Objectif</h4>
      <p>Porposer le spiritueux qui vous convient</p>
    </div>
    <div class="product-pain">
      <h4>Présentation du projet</h4>
      <p>Créer un algorithme qui, en fonction des bouteilles que vous appréciez, sera capable de vous porposer un pannel de 5 spiritueux faits pour vous.</p>
    </div>
    <div class="project">
      <h4>Le projet</h4>
      <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
