<div class="container">
  <h1 class="title-product"> DeFlavour </h1>
  <div class="product-photos">
    <div class="big-card" style="height:400px;width:50%">

      <img src="https://res.cloudinary.com/dm52xbw1e/image/upload/v1663148797/Capture_d_e%CC%81cran_2022-09-14_a%CC%80_11.45.52_dpns6j.png" alt="Deflavour" style="width:100%; height:100%;border-radius: 5px;">
    </div>
    <div class="cards-feature" style="height:400px;width:50%">
      <div class="card-category" style="background-position: top; background-image: url(https://res.cloudinary.com/dm52xbw1e/image/upload/v1663163945/www.deflavour.com__4_q9bgqy.png)">
      </div>
      <div class="card-category" style="background-position: top; background-image: url(https://res.cloudinary.com/dm52xbw1e/image/upload/v1663163868/Capture_d_e%CC%81cran_2022-09-14_a%CC%80_15.57.39_trffms.png)">
      </div>
      <div class="card-category" style="background-position: top; background-image: url(https://res.cloudinary.com/dm52xbw1e/image/upload/v1663163950/www.deflavour.com__5_mcwrqi.png)">
      </div>
      <div class="card-category" style="background-position: top; background-image: url(https://res.cloudinary.com/dm52xbw1e/image/upload/v1663164213/www.deflavour.com_maindashboard_cdcruk.png)">
      </div>
    </div>
  </div>
  <div class="product-infos">
    <div class="infos-special">
      <h4>Projet d'étude</h4>
      <p>Site crée pendant ma formation au Wagon.</p>
    </div>
    <div class="product-base">
      <h4>A propos</h4>
      <p>Créer un algorithme qui, en fonction des bouteilles que vous appréciez, sera capable de vous porposer un pannel de 5 spiritueux faits pour vous.</p>
    </div>

    <div class="project">
      <h4>Tech stack</h4>
      <div class="stack">
        <a href="#">Ruby on Rails</a><a href="#">JavaScript</a><a href="#">HTML</a><a href="#">CSS</a><a href="#">Bootstrap</a><a href="#">postgreSQL</a>
      </div>
    </div>
      <div class="link-to">
        <a href="https://github.com/PauFou/deflavour" class="link-project" style="margin-right:10px"><i class="fa-brands fa-github icon"></i>Voir le code</a>
        <a href="https://www.deflavour.com/" class="link-project" style="margin-left:10px"><i class="fa-brands fa-chrome icon"></i>Voir le projet</a>
      </div>
    </div>
  </div>
</div>
