<div class="container">
    <div id="banner" class="cards">
      <div class="avatar-paul">
        <img src="https://res.cloudinary.com/dm52xbw1e/image/upload/v1662968669/tete_paul_du3tow.jpg" alt="Paul Fournier" class="avatar">
      </div>
      <div class="infos">
        <h1>Hey👋, Je suis Paul <br>
          Un Dévelopeur Fullstack <br>
          basé à Paris.</h1>
        <h3>J'aide les entreprises à atteindre leurs objectifs.</h3>
          <a href="#">
            <button class="my-email">
              <i class="fa-regular fa-envelope envelope"></i>pfournier597@gmail.com
            </button>
          </a>
      </div>
  </div>

  <div id="gallery">
    <p><i class="fa-solid fa-arrow-down arrow-down"></i> PROJETS SELECTIONNES</p>
    <div class='project-cards'>
      <%= link_to deflavour_path do %>
        <div class="project-card" id="deflavour">

          <div class="stack">
            <button>Ruby on Rails</button><button>JavaScript</button><button>HTML</button><button>CSS</button><button>Bootstrap</button><button>postgreSQL</button>
          </div>
          <span>DeFlavour</span>
        </div>

      <% end %>
      <%= link_to caravana_path do %>
        <div class="project-card" id="caravana">
          <div class="stack">
            <button>Ruby on Rails</button><button>JavaScript</button><button>HTML</button><button>CSS</button><button>Bootstrap</button><button>postgreSQL</button>
          </div>
          <span>Caravana</span>
        </div>
      <% end %>
    </div>
  </div>
  <div id="contact-me">
    <h2>Contactez-moi</h2>
    <h3>Si vous cherchez à embaucher un developeur web,<br>
    Je suis actuellement disponible pour un poste en freelance.</h3>
    <button class="my-email">
      <i class="fa-regular fa-envelope envelope"></i>pfournier597@gmail.com
    </button>
  </div>
</div>
