.my-email {
  background-color: #9D9D9D; /* Green */
  border: none;
  padding: 20px 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border-radius: 3px;
  transition-duration: 0.4s;
}

.my-email:hover {
  background-color: #9d9d9daa; /* Green */

}

.my-email .envelope{
  margin-right: 10px;
  color:#FFFFFF;
  size: 20px;
}

.link-project{
  background-color: #fff;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.link-project:hover{
  background-color: rgba(222, 222, 222);
}

.link-project:active{
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.link-project .icon{
  font-size: 21px;
  margin-right: 10px;
  color: black;
}

.stack button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 4px 8px;
  margin: 3px;
  border:1px solid rgba(222, 222, 222);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
}

.stack button:hover{
  background-color: rgba(222, 222, 222);
  color: #202020;
}
