 @import "components/index.css";
 @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
 @import "pages/index.css";


*{
  padding: 0px;
  margin: 0px;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: #DEDEDE;
  text-decoration: none;
  letter-spacing: -0.5px;
}

body{
  background-color: #202020;
}

.container{
  margin: auto;
  width: 85%;
  margin-top: 80px;
  margin-bottom: 30px;
}


h1{
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.5px;
}

h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #959595;
}

.arrow-down{
  color: white;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 20px
}

p{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.7;
}
