<!DOCTYPE html>
<html>
  <head>
    <title>Paul Fournier | Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <title>Paul Fournier</title>
    <link href="../style/application.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>
      <header>
      <div class="navbar">
        <div class="logo">PauFou</div>
          <div class="items">
            <a href="#contact-me" class="contact item">Contact</a>
            <a href="#gallery" class="work item">Work</a>
            <a href="/" class="home item">Home</a>
          </div>
        </div>
      </header>
      <%= yield %>
  </body>
</html>
